.EXPORT_ALL_VARIABLES:
HOST:=$(shell ./default-host.sh)

AR:=$(HOST)-ar
AS:=$(HOST)-as
CC:=$(HOST)-cc
CXX:=$(HOST)-c++

PREFIX:=/usr
EXEC_PREFIX:=$(PREFIX)
BOOTDIR:=/boot
LIBDIR:=$(EXEC_PREFIX)/lib
INCLUDEDIR:=$(PREFIX)/include

CFLAGS:=-O2 -g
CXXFLAGS:=

SYSROOT:=$(shell pwd)/sysroot
CC:=$(CC) --sysroot=$(SYSROOT)
CXX:=$(CXX) --sysroot=$(SYSROOT)

_HOST_CC_INFO:=$(shell ./host-elf-target.sh $(HOST))
ifeq ($(_HOST_CC_INFO), 0)
	CC:=$(CC) -isystem=$(INCLUDEDIR)
	CXX:=$(CXX) -isystem=$(INCLUDEDIR)
endif